div.container {
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    margin: 30px auto;
}

h2#title {
    background: #354f52;
    color: #fff;
    padding: 20px;
    border-bottom: 1px dashed #cad2c5;
    margin: 0 0 10px 0;
}

span.link {
    display: inline-block;
    margin: 8px;
}

table, tr, td {
    border-collapse: collapse;
}

table {
    margin-top: 10px;
}

td {
    padding-left: 5px;
    padding-bottom: 10px;
    color: #cad2c5;
}

td.num-cell {
    padding-right: 10px;
    width: 80px;

}

td.title-cell {
    width: 250px;
}

td.memberid-cell {
    width: 150px;

}

td.hits-cell {
    width: 100px;

}

/*td.date-cell {*/
/*    width: 180px;*/
/*}*/


a {
    text-decoration: none;
}

a:link
, a:visited {
    color: #52796f;
}

a:hover {
    color: #2f3e46;
    font-weight: 600;
}

a:active {
    color: #0077b6;
}

hr {
    margin-top: 10px;
    border: 1px dashed #cad2c5;
}

/* 검색 폼 div */
div.form-paging-search {
    margin-top: 30px;
    text-align: center;
}
