<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home.html</title>
</head>
<body>
    <h2>[ Get method ]</h2>
    <p><a href="param/param1">Get method</a> </p>
    <p><a href="param/param2">Post method</a> </p>
    <p><a href="param/param3">Class</a> </p>
    <!--    name 과 age 변수 선언 필요-->
    <p><a href="param/param4?name=abc&age=10">Get method2</a> </p>
    <p><a href="model/model1">Model 사용</a> </p>
    <p><a href="ss/session1">Session 사용 - 저장</a> </p>
    <p><a href="ss/session2">Session 사용 - 삭제</a> </p>
    <p><a href="ss/session3">Session 사용 - 읽기</a> </p>
    <p><a href="ss/session4">Session 확인</a> </p>
    <h2>[ Cookie ]</h2>
    <ul>
        <li><a href="ck/cookie1">쿠키 저장</a></li>
        <li><a href="ck/cookie2">쿠키 삭제</a></li>
        <li><a href="ck/cookie3">쿠키 읽기</a></li>
        <li><a href="ck/cookie">쿠키 예제</a></li>
    </ul>
</body>
</html>