<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home.html</title>
    <link rel="stylesheet" href="./spring2.css">
</head>
<body>
    <ol>
    <li>Get method
        <ul>
            <li><a href="param/param1">Get method</a></li>
            <li><a href="param/param2">Post method</a></li>
            <li><a href="param/param3">Class</a></li>
            <!--    name 과 age 변수 선언 필요-->
            <li><a href="param/param4?name=abc&age=10">Get method2</a></li>
            <li><a href="model/model1">Model 사용</a></li>
            <li><a href="ss/session1">Session 사용 - 저장</a></li>
            <li><a href="ss/session2">Session 사용 - 삭제</a></li>
            <li><a href="ss/session3">Session 사용 - 읽기</a></li>
            <li><a href="ss/session4">Session 확인</a></li>
        </ul>
    </li>
    <li>Cookie
        <ul>
            <li><a href="ck/cookie1">쿠키 저장</a></li>
            <li><a href="ck/cookie2">쿠키 삭제</a></li>
            <li><a href="ck/cookie3">쿠키 읽기</a></li>
            <li><a href="ck/cookie">쿠키 예제</a></li>
        </ul>
    </li>
    <li>Lombok & Logger
        <ul>
            <li><a href="log/lombok">lombok 사용</a></li>
            <li><a href="log/logger">lombok & logger 사용</a></li>
        </ul>
    </li>
    <li>Thymeleaf
        <ul>
            <li><a href="th/thymeleaf1">타임리프 사용1</a></li>
            <li><a href="th/thymeleaf2">타임리프 사용2</a></li>
        </ul>
    </li>
    </ol>
</body>
</html>