<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>[ GET method ]</h2>
    <form action="input2" method="post" >
        <p><label for="name">이름: <input id="name" type="text" name="name"></p>
        <p>
            <input id="kt" type="radio" name="phone" value="kt">KT
            <input id="sk" type="radio" name="phone" value="sk">SK
            <input id="lg" type="radio" name="phone" value="lg">LG
            <label for="phonenum">전화번호</label>
            <input id="phonenum" name="phonenum" type="text">
        </p>
        <p>
            <input type="submit" value="전송">
            <input type="reset" value="초기화">
        </p>
    </form>
</body>
</html>