<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
    <div class="container">
		<h2>javascript / jQuery / Ajax</h2>
		<div class="JS">
			<h3>JS</h3>
			<p><a th:href="@{/js/js1}">- JS 기본 문법</a></p>
			<p><a th:href="@{/js/js2}">- JS 기본 문법2</a></p>
			<p><a th:href="@{/js/js3}">- JS 기타함수</a></p>
		</div>
		<div class="JQ">
			<h3>JQery</h3>
			<p><a th:href="@{/jq/jq1}">- 선택자</a></p>
			<p><a th:href="@{/jq/jq2}">- 이벤트</a></p>
			<p><a th:href="@{/jq/jq3}">- 문서객체 조작</a></p>
			<p><a th:href="@{/jq/jq4}">- 배열과 each()</a></p>
			<p><a th:href="@{/jq/jq5}">- 연습문제</a></p>
			<p><a th:href="@{/jq/jq6}">- 애니메이션 효과</a></p>
		</div>
		<div class="Aj">
			<h3>Ajax</h3>
			<p><a th:href="@{/ajax/aj1}">- 요청과 응답</a></p>
			<p><a th:href="@{/ajax/aj2}">- 객체 보내기/받기</a></p>
			<p><a th:href="@{/ajax/aj3}">- 추천 기능</a></p>
			<p><a th:href="@{/ajax/comment}">- 댓글 기능</a></p>
		</div>
    </div>
</body>
</html>