<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="../board.css">
    <script src="../board.js"></script>
</head>
<body>
    <div class="boardlist">
      <h2>[ 방 명 록 ]</h2>
      <form>
        <input name="" id="btn_submit" type="button" value="글쓰기" onclick="gotoWrite()">
      </form>
    </div>
    <hr id="start_hr">
    <div class="boardList" th:each="guests : ${guests}">
        <form action="delete" method="post">
            <p th:text="'작성자: '+ ${guests.name}"></p>
            <p th:text="'작성일: ' + ${guests.inputdata}"></p>
            <p th:text="'방명록 내용: ' + ${guests.message}"></p>
            <p>
              <label for="password">비밀번호
                  <input type="password" name="password" id="password" th:password="${guests.password}">
              </label>
                <input type="button" value="삭제" onclick="gotoDelete(password.getAttribute('password'))">
            </p>
        </form>
        <hr id="end_hr">
    </div>
</body>
</html>