@charset "UTF-8";

.table {
    width: 800px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#title {
    width: 100%;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    color: #03045e;
}

table, th, td {
    width: 800px;
    border-collapse: collapse;
    padding: 15px;
}

th {
    border: 1px dashed #03045e;
    background: #caf0f8;
    color: #03045e;
}

td {
    border: 1px dashed #03045e;
}