<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.softsociety.web.dao.CommentDAO">
    <update id="insertCmnt" parameterType="Comment">
        INSERT INTO WEB_COMMENT
        VALUES (WEB_COMMENT_SEQ.nextval, #{name}, #{text})
    </update>

    <select id="selectAllCmnt" resultType="Comment">
        SELECT * FROM WEB_COMMENT
        ORDER BY NUM
    </select>
</mapper>