<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <script th:src="@{/check.js}"></script>
    <link rel="stylesheet" th:href="@{/join.css}">
</head>
<body>
    <div class="container">
        <h2 class="title">Sign Up</h2>
        <form th:object="${member}" th:action="@{/member/join}" method="post" onsubmit="return check();">
            <table>
                <tr>
                    <th>
                        <label for="memberid">아이디</label>
                    </th>
                    <td>
                        <input minlength="3" maxlength="10" placeholder="아이디" type="text" th:field="*{memberid}">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="memberpw">비밀번호</label>
                    </th>
                    <td>
                        <input minlength="3" maxlength="10" placeholder="비밀번호" type="password" th:field="*{memberpw}">

                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="pwChk">비밀번호 재확인</label>
                    </th>
                    <td>
                        <input minlength="3" maxlength="10" placeholder="한번더 입력" type="password" id="pwChk">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="membername">이름</label>
                    </th>
                    <td>
                        <input placeholder="이름" type="text" th:field="*{membername}">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="email">이메일</label>
                    </th>
                    <td>
                        <input placeholder="이메일" type="email" th:field="*{email}">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="phone">전화번호</label>
                    </th>
                    <td>
                        <input placeholder="전화번호" type="tel" th:field="*{phone}">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="address">주소</label>
                    </th>
                    <td>
                        <input placeholder="주소" type="text" th:field="*{address}">
                    </td>
                </tr>
                <tr>
                    <td class="btn_submit" colspan="2">
                        <input type="submit" value="전송">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>