<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Js2</title>
	<script src="../js/j2.js"></script>
	<style>
		body {
			font-size: 0.9em;
		}
		li {
			line-height: 20px;
		}
	</style>
</head>
<body>
	<div>
		<h2>JS 기본 문법2 (BOM)</h2>
		<ul>
			<li>
				<a href="javascript:test1()">window (window.open)</a>
			</li>
			<li>
				<a href="javascript:test2()">window (window.close)</a>
			</li>
			<li>
				<a href="javascript:test3()">window (moveTo, resizeTo)</a>
			</li>
			<li>
				<a href="javascript:test4()">screen</a>
			</li>
			<li>
				<a href="javascript:test5()">location</a>
			</li>
			<li>
				<a href="javascript:test6()">history</a>
			</li>
			<li>
				<a href="javascript:test7()">navigator</a>
			</li>
		</ul>
	</div>
</body>
</html>