<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>JS 기타함수</title>
    <script th:src="@{/js/js3.js}"></script>
</head>
<body>
    <h2>JS 기타함수</h2>
    <p><a href="javascript:outputDate()">날짜함수</a></p>
    <p><a href="javascript:outputDate2()">날짜함수2</a></p>
    <p><a href="javascript:timeout()">setTimeout</a></p>
    <p><a href="javascript:start()">setInterval 시작</a></p>
    <p><a href="javascript:stop()">setInterval 멈춤</a></p>
    <p><a href="javascript:winMove()">윈도우창 움직이게하기</a></p>
    <p><a href="javascript:winStop()">윈도우창 멈추게하기</a></p>
</body>
</html>