<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>판매 정보 게시판</title>
</head>
<body>
	<h1>[ 판매 정보 게시판 ]</h1>
	<div id="register">
		<p>
			<a sec:authorize="isAuthenticated()" th:href="@{/board/insertBoard}">판매글 등록</a>
		</p>
	</div>
	<div id="boardList">
		<table>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성자</th>
			</tr>
			<tr th:each="boardList : ${boardList}">
				<td th:text="${boardList.boardnum}">시퀀스</td>
				<td>
					<a th:href="@{/board/selectBoard(boardnum=${boardList.boardnum})}" th:text="${boardList.title}">제목</a>
				</td>
				<td th:text="${boardList.memberid}">작성자</td>
			</tr>
		</table>
	</div>
</body>
</html>