<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select Page</title>
    <link rel="stylesheet" href="./css/person.css">
    <script src="./js/personOnclik.js"></script>
</head>
<body>
<div class="container">
  <h1>[ Select All ]</h1>
    <table>
      <tr>
        <th>이름</th>
        <td th:each="person : ${personList}">
          <span th:text="${person.getName()}"></span>
        </td>
        <td>
          <button onclick="updateBtn()" value="update">수정</button>
        </td>
        <td>
          <button onclick="deleteBtn()" value="delete">삭제</button>
        </td>
      </tr>
      <tr>
        <th>나이</th>
        <td th:each="person : ${personList}">
          <span th:text="${person.getAge()} + '살'"></span>
        </td>
        <td>
          <button onclick="updateBtn()" value="update">수정</button>
        </td>
        <td>
          <button onclick="deleteBtn()" value="delete">삭제</button>
        </td>
      </tr>
    </table>
</div>
</body>
</html>