<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select Page</title>
    <link rel="stylesheet" href="./css/person.css">
    <script src="./js/personOnclik.js"></script>
</head>
<body>
<div class="container">
  <h1>[ Select All ]</h1>
    <table>
      <tr>
        <th>이름</th>
        <th>나이</th>
        <th>수정</th>
        <th>삭제</th>
      </tr>
      <tr th:each="person : ${personList}">
        <td th:text="${person.name}"></td>
        <td th:text="${person.age} + '살'"></td>
        <td>
          <input type="button" onclick="updatePersonBtn(this.getAttribute('pname'))" th:pname="${person.name}" value="수정">
        </td>
        <td>
          <input type="button" onclick="deletePersonBtn(this.getAttribute('pname'))" th:pname="${person.name}" value="삭제">
          <a th:href="|javascript:location.href='delete?name=${person.name}'|">삭제</a>
        </td>
      </tr>
    </table>
</div>
</body>
</html>