@charset "UTF-8";

div.content {
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    margin: 30px auto;
}

h2#title {
    background: #354f52;
    color: #fff;
    padding: 20px;
    border-bottom: 1px dashed #cad2c5;
    margin: 0 0 10px 0;
}

ul {
    line-height: 2em;
    display:inline-block;
    vertical-align: middle;
    /*margin: 0;*/
    font-weight: 500;
}

li {
    /*list-style-type: square;*/
    font-size: 1em;
}

a {
    text-decoration: none;
}

a:link
, a:visited {
    color: #52796f;
}

a:hover {
    color: #2f3e46;
    font-weight: 600;
}

a:active {
    color: #0077b6;
}

hr {
    border: 1px dashed #cad2c5;
}

div.authorize {
    font-family: Arial, Helvetica, sans-serif;
    color: #dad7cd;
    font-weight: 400;
    font-size: 0.8em;
    text-align: right;
}